@import url("./root.css");
.my-btn {
  background: var(--dark);
  color: var(--white);
  border: none;
  outline: none;
  box-shadow: 0px 10px 20px rgba(130, 119, 255, 0.1);
  font-size: 80%;
}
.my-btn:focus,
.my-btn:active {
  box-shadow: none;
}
.my-btn.active::before {
  display: none;
}
/* letter spacing */
.ls1 {
  letter-spacing: 0.05em;
}
.ls2 {
  letter-spacing: 0.1em;
}
/* center */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* glass */
.bg-glass {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 0.01%,
    rgba(255, 255, 255, 0.5) 100%
  ) !important;
  backdrop-filter: blur(10px) !important;
}
/* aspect ratio */
.as-1 {
  aspect-ratio: 1;
}
.as-16-9 {
  aspect-ratio: 16/9;
}
